include header.pug

.flexbox
   .flexcard
      h4 add user
   .flexcard
      h4 delete user
   .flexcard
      h4 add artist
   .flexcard
      h4 delete artist
   .flexcard
      h4 add artwork
   .flexcard
      h4 delete artwork
