footer(class="z-depth-4")
      address Bankside, <br> London SE1 9TG, <br> England, <br> United Kingdom
      .contact
            <a href="tel:+44-20-7887-8888.">+44-20-7887-8888</a><br>
            <a href = "mailto: abc@example.com">Support@tate.org.uk</a>

script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
script(type="text/javascript" src="js/materialize.min.js")