doctype html
html
      head
            title="TATE"
            link(href="https://fonts.googleapis.com/icon?family=Material+Icons|Courgette|Poiret+One", rel="stylesheet")
            link(type="text/css", rel="stylesheet", href="css/materialize.min.css",  media="screen,projection")
            link(type="text/css", rel="stylesheet", href="css/style.css",  media="screen,projection")

            meta(name="viewport", content="width=device-width, initial-scale=1.0")

      body
            a(href="/index")
                  img(src="IMG/tate-logo.png" id='tate-logo')

            nav
                  .nav-wrapper
                        ul(id="nav-mobile" class="left hide-on-med-and-down")
                              li
                                    a(href="/artwork") Browse all artwork
                              li
                                    a(href="/artists") Browse artwork by artist
                              li
                                    a(href="/artists" disabled) Browse artwork genre
                              li
                                    a(href="/price" ) Browse artwork price
                              li
                                    a(href="/Cart") Cart
                              li
                                    a(href="/users") Log-in

            h1 TATE