doctype html
html
      head
            title="TATE"
            link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
            link(type="text/css", rel="stylesheet", href="css/materialize.min.css",  media="screen,projection")
            link(type="text/css", rel="stylesheet", href="css/style.css",  media="screen,projection")

            meta(name="viewport", content="width=device-width, initial-scale=1.0")

      body
            a(href="/index")
                  img(src="IMG/tate-logo.png" id='tate-logo')

            nav
                  .nav-wrapper
                        ul(id="nav-mobile" class="left hide-on-med-and-down")
                              li
                                    a(href="/artwork") Artwork
                              li
                                    a(href="/artists") Artists
                              li
                                    a(href="/Cart") Cart
                              li
                                    a(href="/log-in") Log-in (Admin)

            h1 TATE