#tate-logo{
   width:115px;
   margin:0;
}

h1, h2{padding-left:1em;}
article{
   padding: 8px;
}
footer{
   bottom:0;
   width:100%;
   background-color: #00ab9d;
   background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
   height: 300px;
}

footer a, footer address{
   color:white;
}

footer a{text-decoration: underline;}

footer address, footer .contact{
   display: inline-block;
   width:45%;
   padding:5%;
}

footer address{
   left:0;
   text-align: left;
}
footer .contact{
   right:0;
   text-align: right;
}


.flexbox{
   display: flex;
    flex-direction: row;
   justify-content: space-between;;
   flex-wrap: wrap;
}

.flexcard{
   width:30%;
   border-radius: 12px;
   margin-bottom: 8px;

   background: #2c3e50;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to top, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to top, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.flexcard h4{
   padding:0 0 0 1em;
   color: white;
}

.flexbox .flexcard .icon-container{
   width:450px;
   margin:auto;
}

.flexbox .flexcard, flexbox button{
   margin:auto;
   padding: 32px;
}

.flexbox .flexcard .icon-container .material-icons{
   color:white;
}

.flexbox .id{
   color:white;
   font-family: serif;
}

.flexbox p{
   padding:1em;
   font-size: 1em;
   color:white;
}